// Variables
@import '../variables';

.aboutus {
    text-align: center;
    padding-top: 10px;

    .banner {
        background-image: url("/img/banner_qingtai.jpg");
        height: 446px;
    }

    .qingtai {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .honour {
        background-color: $gray-3;
        padding-top: 61px;
        padding-bottom: 34px;
    }

    .danghui {
        padding-top: 66px;
        padding-bottom: 54px;
    }

    .note {
        font-size: $fs-14;
    }
}
