// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #D83656;
$cyan: #2F3239;
$gray: #B5B5B6;

// FontSize
$fs-14: 14px;
